[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "postinfectious"]
	path = postinfectious
	url = https://github.com/cran/postinfectious
